.dashboard {
  display: grid;
  grid-template-columns: auto 20px var(--graph-width);
  gap: 0;
  align-items: start;
  justify-content: center;
  
  & .left {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  & .right {
    width: var(--graph-width);
    marginBottom: 12px;
  }
  
  & .horizontal-divider {
    height: 2px;
    border-radius: 5px;
    background: var(--blue-light);
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
  }
  
  & .vertical-divider {
    width: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: var(--blue-light);
    border-radius: 5px;
    justify-self: center;
    height: 80%;
  }
}
