.graph-select {
  width: var(--graph-width);
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.graph-select-button {
  display: flex;
  height: 24px;
  width: 100px;
  border-radius: 10px;
  background: var(--blue-800);
  color: var(--ink-60);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: background .2s ease, color .2s ease, transform .15s ease, box-shadow .2s ease;
}

.graph-select-button:hover {
  background: #1f2b60;
}

.graph-select-button-active {
  background: var(--toolbar-active);
  color: var(--accent-pink);
}

.graph-select-button-stats {
  background: var(--accent-pink);
  color: white;
}

.graph-select-button-stats:hover {
  background: var(--accent-pink-150);
}
